  .CaruselCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    font-size: 1.3vw;
  }
  
  .Carousel {
    width: 100%;
    height: 45vw;
    position: relative;
    font-family: LatoLight;
    font-size: 1vw;
  }
  
  .card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 20vw;
    min-width: 100px;
    z-index: 99;
    filter: brightness(1);
    filter: blur(0px);
    transition: 500ms;
  }
  
  .card--active {
    opacity: 1;
    transform: scale(1);
    z-index: 99;
    filter: brightness(1);
    filter: blur(0px);
  }
  
  .card--left {
    transform: translateX(-75%) scale(0.8);
    transition: 500ms;
    filter: brightness(0.4) blur(2px);
    z-index: 98;
  }
  
  .card--right {
    transform: translateX(75%) scale(0.8);
    transition: 500ms;    
    filter: brightness(0.4) blur(2px);
    z-index: 98;
  }

  .card--leftX2 {
    transform: translateX(-125%) scale(0.6);
    transition: 500ms;
    filter: brightness(0.2) blur(5px);
    z-index: 97;
  }
  
  .card--rightX2 {
    transform: translateX(125%) scale(0.6);
    transition: 500ms;
    filter: brightness(0.2) blur(5px);
    z-index: 97;
  }

  .Arrows{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vw;
    width: 20vw;
  }



  .ellipseCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 7vw;
  }

  .ellipse{
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: 2px solid #B9B9B9;
    border-radius: 50%;
  }

  .ellipseActive{
    width: 10px;
    height: 10px;
    border: 2px solid #B9B9B9;
    background-color: #B9B9B9;
    border-radius: 50%;
  }

  @media (max-width:960px) {
    .ellipseCont{
      width: 15vw;
    }
    .Arrows{
      width: 50vw;
    }
    .CaruselCont{
      height: 80vw;
    }
    .CaruselCont{
      font-size: 2vw;
    }
  }

  @media (max-width: 500px) {
    .card--leftX2{display: none;}
    .card--rightX2{display: none;}
    .ellipseCont{
      width: 30vw;
    }
    .Arrows{
      width: 80vw;
    }
    .CaruselCont{
      height: 100vw;
      font-size: 5vw;
      margin-top: 0vw;
    }
    .card{
      width: 25vw;
    }
  }