.PermissionsCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13vw;
}

.PermissionsName{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: CormorantGaramond;
    color: white;
    font-size: 7vw;
    width: 80vw;
}


@media (max-width: 960px) {
    .PermissionsCont{
        margin-top: 30vw;
    }
}

@media (max-width: 500px) {
    .PermissionsCont{
        margin-top: 30vw;
    }
}
