.FooterCont{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: #202020;
    width: 100vw;
}

.BlockList{
    display: flex;
    width: 50vw;
    height: 40%;
    margin-top: 2vw;
    margin-bottom: 3vw;
    justify-content: space-between;
}

.BlockCont{
    line-height: 1.3vw;
    width: 14vw;
    font-family: LatoLight;
}

.BlockName{
    color: White;
    font-size: 1.3vw;
    padding-bottom: 1vw;
}

.BlockText{
    color: #898787;
    font-size: 1vw;
}

.Copyright{
    color: #898787;
    font-size: 1.3vw;
}

@media (max-width: 960px) {
    .FooterCont{
        padding: 5vw 0vw;
    }
    .BlockName{
        font-size: 1.8vw;
    }
    .BlockText{
        font-size: 1.5vw;
    }
    .BlockCont{
        line-height: 1.8vw;
        width: 17vw;
    }
    .BlockList{
        width: 70vw;
    }
    .Copyright{
        font-size: 1.8vw;
    }
}

@media (max-width: 500px) {
    .FooterCont{
        padding: 5vw 0vw;
    }
    .BlockName{
        font-size: 3vw;
    }
    .BlockText{
        font-size: 2.5vw;
    }
    .BlockCont{
        line-height: 3vw;
        width: 25vw;
    }
    .BlockList{
        width: 90vw;
    }
    .Copyright{
        font-size: 3vw;
    }
}